<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
  </config>
  <activePackageSource>
    <add key="nugetv3" value="http://api.nuget.org/v3/index.json" />
    <add key="holycode" value="https://www.myget.org/F/holycode/api/v3/index.json" />
  </activePackageSource>
  <packageSources>
  <add key="nugetv3" value="http://api.nuget.org/v3/index.json" />
  <add key="holycode" value="https://www.myget.org/F/holycode/api/v3/index.json" />
  
  </packageSources>
</configuration>